<#include "/common/header.html">

<link rel="stylesheet" type="text/css" href="/css/webuploader.css?v=0.1.5" media="all">

<body>
    <div class="container-fluid larry-wrapper">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <section class="panel panel-padding">
                    <form id="form1" class="layui-form layui-form-pane" action="/backCategory">

                        <input type="hidden" name="id" value="${((object.id)?c)!}" id="productId">

                        <div class="layui-form-item">
                            <label class="layui-form-label">标题</label>
                            <div class="layui-input-block">
                                <input type="text" name="title" value="${(object.title)!}" required jq-verify="required" jq-error="请输入标题" placeholder="请输入标题" autocomplete="off" class="layui-input ">
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label">上架</label>
                            <div class="layui-input-inline">
                                <input type="radio" name="status" title="是" value="1" checked />
                                <input type="radio" name="status" title="否" value="0"
                                <#if object?? && object.status == 0> checked </#if>
                                />
                            </div>
                        </div>



                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <button class="layui-btn" jq-submit data-ajax="true" lay-filter="submit">立即提交</button>
                                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                            </div>
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript" src="/js/layui/layui.js"></script>

    <#include "/common/version.html">

<script>
    layui.use('product');
</script>

</html>